<div class="pt-5 pb-2 {{ bgcolor }} {{ textcolor }} {{ border }}{% if border_top %} border-top{% endif %}{% if border_bottom %} border-bottom{% endif %}{% if border_size > 0 %} border-{{ border_size }}{% endif %}">
    <div class="container">
        <h1 class="fw-light text-center py-4 {{ textcolor }}" data-fred-title="title">Latest Blog Posts</h1>
        <div class="row py-4">
            <div class="col-md col-sm-12 mb-5">
                <img class="img-fluid img-shadow" src="{{ theme_dir }}web/img/blog-image-01@2x.jpg" width="100%">
                <p class="py-3 fw-bold">This is a headline to one of the most popular blog post</p>
                <a class="fw-light text-uppercase" href="#"> Read Article <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <div class="col-md col-sm-12 mb-5">
                <img class="img-fluid img-shadow" src="{{ theme_dir }}web/img/blog-image-02@2x.jpg" width="100%">
                <p class="py-3 fw-bold">This is another really popular blog post headline</p>
                <a class="fw-light text-uppercase" href="#"> Read Article <i class="fa fa-chevron-right"></i>
                </a>
            </div>
            <div class="col-md col-sm-12 mb-5">
                <img class="img-fluid img-shadow" src="{{ theme_dir }}web/img/blog-image-03@2x.jpg" width="100%">
                <p class="py-3 fw-bold">This is yet another really popular blog post headline</p>
                <a class="fw-light text-uppercase" href="#"> Read Article <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>